# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
ng-flashcards/dist
ng-flashcards/tmp
ng-flashcards/out-tsc

# dependencies
ng-flashcards/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
ng-flashcards/.sass-cache
ng-flashcards/connect.lock
ng-flashcards/coverage
ng-flashcards/libpeerconnection.log
ng-flashcards/npm-debug.log
ng-flashcards/yarn-error.log
ng-flashcards/testem.log
ng-flashcards/typings

# System Files
ng-flashcards/.DS_Store
ng-flashcards/Thumbs.db
